@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.openinghours__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-paragraph {
    margin-top: 3rem;
    padding: 0 1rem;
    background-color: $paragraph-background;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 800px;

    @include responsive-tablet {
      margin-top: 2rem;
    }
  }
  
  &-day {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .dayName {
      width: 80px;
      font-weight: bold;
    }
  }
}
