@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.contact__body {
  &-paragraph {
    margin-top: 5rem;

    @include responsive-tablet {
      margin-top: 2rem;
    }
    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
