@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.contact__body {
  width:100%;
  max-width:800px;

  &-paragraph {
    margin-top: 3rem;
    padding: 0 1rem;
    background-color: $paragraph-background;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

    @include responsive-tablet {
      margin-top: 2rem;
    }
    
    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
