// /* Fonts */
$font_body: "Roboto",sans-serif !default;
$font-titles: "Roboto",sans-serif;
$font_handwriting: "Delicious Handrawn";

// /* Colors */
$primary-color-1: #fafafa;
$primary-color-2: #2b3c56;
$primary-color-3: #617a9c;

$secondary-color-1: #191a38;
$secondary-color-2: #111b58;

$text-color-1: #000;
$text-color-2: #fff;
$text-color-3: #2b3c56;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
