@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: $primary-color-2;
}

main {
  flex: 1;
  min-height: 0;

}
