@use "../utils/mixins" as *;

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;

  overflow-y: scroll;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 auto;
  width: 100%;
}

main {
  flex: 1;
  min-height: 0;
}
