@use "../utils/mixins" as *;

html,
body {
  margin: 0;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 auto;
  width: 100%;
}

main {
  flex: 1;
  min-height: 0;
}
