@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.activities__body,
.access__body,
.openinghours__body,
.contact__body,
.prices__body,
.blog__body {
  margin-top:2rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  

  @include responsive-tablet {
    margin-top:0;
    padding: 1rem 3rem;
  }
}

.img__logo {
  position: absolute;
  top: 9%;
  right: 5%;
    width: 12rem;
  z-index: 1;

  @include responsive-tablet {
    top: 10%;

  }

  @include responsive-desktop {
    top: 12%;

  }
}
