@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__pages {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.activities,
.access,
.openinghours,
.contact,
.prices,
.blog {
  background-image: url("/images/background-pages.webp");
  background-color: $secondary-color-1;
}

.activities__body,
.access__body,
.openinghours__body,
.contact__body,
.prices__body,
.blog__body {
  padding: 2rem;
}
