@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__pages {
  min-height: 100vh;

  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.activities,
.access,
.openinghours,
.contact,
.prices,
.blog {
  background-color: $secondary-color-1;
  background-image: url("/images/background-pages_mobile.webp");

  @include responsive-tablet {
    background-image: url("/images/background-pages.webp");
  }

  @include responsive-desktop {
    background-image: url("/images/background-pages.webp");
    background-attachment: none;
    background-size: cover;
  }
}

.activities__body,
.access__body,
.openinghours__body,
.contact__body,
.prices__body,
.blog__body {
  margin-top:2rem;
  padding: 1rem;
  position: relative;

  @include responsive-tablet {
    margin-top:0;
    padding: 1rem 3rem;
  }
}

.img__logo {
  position: absolute;
  top: 8%;
  right: 5%;
  width: 120px;

  @include responsive-tablet {
    top: 10%;
    width: 180px;
  }

  @include responsive-desktop {
    top: 12%;
    width: 260px;
  }
}
