@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;

  @include responsive-tablet {
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar-desktop {
  display: none;

  @include responsive-tablet {
    display: flex;
    gap: 1rem;
  }

  @include responsive-desktop {
    gap: 2rem;
  }
}

.navbar-mobile {
  display: flex;

  &__burger-menu {
    width: 180px;
  }

  @include responsive-tablet {
    display: none;
  }
}

.navbar-mobile__burger-menu-item.MuiListItemButton-root:hover {
  background-color: $primary-color-4;
  color: $text-color-2;
  transition: background-color 0.2s ease;
}

.navbar-item {
  font-family: $font_titles;
  font-size: 1.1rem;

  &:hover {
    color: $highlight;
    border-bottom: 3px solid $highlight;
  }
}
