@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

nav {
  position: absolute;
  top: 0;
  left:50%;
  transform: translateX(-50%);
  z-index: 99;
}

.navbar-desktop {
  display: none;

  @include responsive-tablet {
    display: flex;
    gap: 1rem;
  }

  @include responsive-desktop {
    gap: 2rem;
  }
}

.navbar-mobile {
  display: flex;

  @include responsive-tablet {
    display: none;
  }
}
