@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.activities__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  &-images {
    border-radius: 0.7rem;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 16/9;

    @include responsive-tablet {
      width: 320px;
    }

    @include responsive-desktop {
      width: 350px;
    }

    @include responsive-large-desktop {
      width: 380px;
    }
  }

  &-first-paragraph,
  &-second-paragraph,
  &-third-paragraph,
  &-fourth-paragraph,
  &-fifth-paragraph {
    padding: 0 20px;
  }

  &-first-paragraph {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;

    @include responsive-tablet {
      margin-right: 200px;
    }
    @include responsive-desktop {
      flex-direction: row;
      margin-right: 290px;
    }
  }

  &-second-paragraph {
    @include responsive-tablet {
      margin-right: 200px;
    }
    @include responsive-desktop {
      margin-right: 280px;
    }
  }

  &-third-paragraph {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;

    @include responsive-desktop {
      flex-direction: row;
      margin-right: 280px;
    }
  }

  &-fourth-paragraph {
    @include responsive-large-desktop {
      margin-right: 280px;
    }
  }

  &-fifth-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include responsive-desktop {
      flex-direction: row;
    }

    @include responsive-large-desktop {
      margin-right: 280px;
    }
  }
}
