@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.activities__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1280px;

  p {
    font-family: $font_elegant;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  &-images {
    border-radius: 0.7rem;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 16/9;

    @include responsive-tablet {
      width: 320px;
    }

    @include responsive-desktop {
      width: 350px;
    }

    @include responsive-large-desktop {
      width: 380px;
    }
  }

  &-paragraph {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    margin-top:1rem;
    text-align: center;

    &:nth-child(even) {
      flex-direction: column;

      @include responsive-desktop {
        flex-direction: row;
      }
    }

    @include responsive-desktop {
      flex-direction: row;
      text-align: left;
    }
  }
}
