@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.home__body{
    max-width:1000px;
    &-content{
        font-family:$font-elegant;
        font-size:1.5rem;
    }
}
