@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.home {
  background-color: $secondary-color-1;


  @include responsive-desktop {
    padding: 0 10rem;
    background-size: cover;
  }
}
