@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primary-color-2;
  color: white;
  font-size: 10px;
  padding: 20px 5px;
  flex-shrink:0;
}
