@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.access__body {
  display: flex;
  flex-direction: column;

  @include responsive-tablet {
    width: 70%;
  }

  @include responsive-desktop {
    width: 60%;
  }
}

.access__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include responsive-tablet {
    flex-direction: row;
    justify-content: space-between;
  }
  margin-top: 2rem;

  &-map {
    width: 50%;
    @include responsive-tablet {
      width: 35%;
    }

    iframe {
      aspect-ratio: 1/1;
      border-radius: 1rem;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &-picture {
    width: 75%;
    @include responsive-tablet {
      width: 55%;
    }

    img {
      width: 100%;
      border-radius: 1rem;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
