@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.access__body {
  display: flex;
  flex-direction: column;

  p {
    font-family: $font_elegant;
    font-size: 1.5rem;
  }
}

.access__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include responsive-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
  margin-top: 2rem;

  &-map {
    width: 90%;

    iframe {
      aspect-ratio: 1/1;
      border-radius: 1rem;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &-picture {
    width: 90%;

    img {
      width: 100%;
      border-radius: 1rem;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
