@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.access__body {
  width: 50%;
}

.access__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:5rem;

  &-map{
    width: 30%;
    
    iframe{
        aspect-ratio: 1/1;
        border-radius: 1rem;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
}

&-picture{
    width: 50%;
    
    img{
        width:100%;
        border-radius: 1rem;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
